@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome to Triumph Designs</h1>
    </div>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container">
    <h3 class="text-center">A few of our employees</h3>
    <div class="row mt-40">
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-1.jpg" alt="">
                <h3 class="title">Williamson</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-2.jpg" alt="" class="img-thumbn">
                <h3 class="title">Kristiana</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box1">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo206/images/img-3.jpg" alt="">
                <h3 class="title">Kristiana</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>